node_modules
Icon*
__________________________________
gitignore

# global
#.gitignore
*.bak
*~
*#*
*.class
log/
logs/
tmp/
*.logs
*.log
.svn/
*.tgz
*.gz
*.zip
*.DS_Store
*._*
*.lock
*.swp
*.out
*#
*~
*test*
*tmp*

